# Ignore bin and obj directories
bin/
obj/

# Ignore Visual Studio temporary files
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore build results
*.dll
*.exe
*.pdb
*.app
*.apk
*.ipa

# Ignore logs
*.log

# Ignore other unnecessary files
*.vs/
*.vscode/
