@page "/import"

<PageTitle>Import Formula - Cosmetic Formula Manager</PageTitle>

<div class="container">
    <h2>Import Formula</h2>
    <div class="alert alert-info">
        <h4>File Import</h4>
        <p>Upload JSON files to import new cosmetic formulas.</p>
        <p><em>This functionality will be fully implemented once the backend is complete.</em></p>
    </div>
</div>